beautifulsoup4
bs4
Flask
Flask-Cors
gunicorn
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
requests
six==1.15.0
soupsieve
urllib3==1.25.10
Werkzeug==1.0.1
pymongo
pandas
mysql.connector
sqlalchemy~=1.4.41
pymysql
pandas.io
pymysql
pymongo
selenium
