beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
gunicorn
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
requests==2.24.0
six==1.15.0
soupsieve
urllib3==1.25.10
Werkzeug==1.0.1
pymongo~=4.1.1
pymongo
scrapetube~=2.3.0
cleantext~=1.1.4
pandas~=1.1.5
youtube_comment_scraper_python
mysql.connector
sqlalchemy~=1.4.41
pymysql~=1.0.2
pandas.io
pymysql
pymongo
eventlet~=0.33.1
os
selenium~=3.141.0
